//  Colors
$brand-primary:             #222938;
$brand-secondary:           #8dc059; // Custom variable
$brand-tertiary:            #aa004f; // Custom variable

//  Scaffolding
$body-bg:                   #fff;

//  Typography
$font-family:               'RalewayRegular', sans-serif;
$font-family-bold:          'RalewayBold', sans-serif;
$font-size-small:           12px;
$font-size-base:            14px;
$font-size-large:           18px;
$headings-font-weight:      700;

$heading-largest:           38px;
$heading-large:             30px;
$heading-big:               24px;
$heading-small:             16px;

//  Grid system
$grid-gutter-width:         30px;

//  Panels
$panel-heading-padding:     20px 15px;
$panel-default-text:        #fff;
$panel-default-border:      #e9eae7;
$panel-default-heading-bg:  #33332f;

$panel-light-text:          #000000;
$panel-light-heading-bg:    #e9eae7;
